<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    body {
      background-color: #000000;
      color: aliceblue;
    
    }
    .student-box {
      background-color: #FFFFFF;
      color: black;
      margin: 2rem;
      padding: 1rem 2rem;
      border: 1px solid rgb(160, 241, 255);
      border-radius: 5px;
    }
    .item-center {
      display: block;
      width: 1px;
      margin: 0 auto;
    }
  </style>
  <title>EJS</title>
</head>
<body>
  <h1>The World is Ugly</h1>
  <h2>but <%=items%>'re beautiful to me</h2>
  <p>
    My name is <%=name%>.<br>
    I'm <%=age%> years old.
  </p>
  <p>
    <% for (let number of numberList) {%> <%=number%>  <%}%> 
  </p>
  
  <div main>
    Student's names are 
    <% for (let student of studentsList) { %>
      <div class="student-box row">
        <span class="item-center col-8"><%=student.name%></span>
        <span class="item-center col-2"><%=student.age%></span>
        <span class="item-center col-2"><a href="/student/<%=student.id%>">View Details</a></span>
      </div>
    <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>